# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# ETL Scripts (backend, run locally only)

consolidado_copa.csv

# Environment Variables
.env

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.xlsx
*base64.txt

# Node
node_modules/
.next/
out/
build/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.npm

# macOS
.DS_Store
Icon?
.Spotlight-V100
.Trashes
